.design_section_image_shape {
    max-width: 240px;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animated_text_3d {
    display: inline-block;
    perspective: 1000px;
    transform-style: preserve-3d;
}
