@media (max-width: 1348px) and (min-width: 1023px) {

}

@media (max-width: 786px) and (min-width: 640px) {

}

@media (max-width: 767px) {
    .group .flex.flex-col.min-h-\[248px\] {
        width: 100%;
        display: block;
    }

    .services_list_section .video_box {
        margin-right: auto;
        margin-left: auto;
    }

    .mobile_subtitle {
        margin-bottom: 24px;
    }

    .quants_row {
        flex-wrap: wrap;
    }

    .quants_row .quant {
        margin-bottom: 24px;
    }

    .after_row_title {
        text-align: left;
    }

    .small_shape img {
        width: 24px;
    }

    .services_list_section {
        margin: 0;
        padding-bottom: 120px;
    }

    .services_list_section .services_row {
        padding-left: 0px;
        padding-right: 0px;
        justify-content: center;
        margin: 0;
    }

    .services_list_section .col-lg-5, .services_list_section .col-lg-4 {
        padding: 0;
    }

    .cases_text_box {
        font-size: 15px;
        align-items: flex-start;
    }

    .w-full.pt-\[160px\].bg-bg-white {
        padding-top: 120px;
    }
}

@media (max-width: 1023px) {
    #services .col-lg-4 {
        margin-bottom: 24px;
    }

    .main_text_section .inline-block:first-child {
        text-align: left;
    }

    .block_float {
        display: none;
    }

    .animated_text_by_letters {
        letter-spacing: -0.2rem;
    }
}

@media (max-width: 1023px) and (min-width: 768px) {
    .design_section .t-p2:first-child {
        max-width: 50%;
    }

    .design_container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .design_container .col-lg-4,
    .design_container .col-lg-8 {
        width: 100%;
    }

    .design_section_image_shape {
        max-width: 176px;
    }

    .services_row h3 {
        width: 100%;
        flex: unset;
    }

    .services_row .flex.ml-auto.justify-center {
    }

    .services_row p {
        width: 95%;
        margin-top: 8px;
    }

    .mx-4 {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
}

@media (max-width: 767px) {
    .show_reel_section {
        margin-bottom: 40px;
    }

    .line_animated {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .services_paragraph {
        margin-bottom: 40px;
    }

    .design_section {
        margin-top: 120px;
        margin-bottom: 92px;
    }

    .design_section_image_container {
        height: 400px;
    }

    .design_section_image_container img {
        height: 100%;
        width: 100%;
    }

    #cases {
        margin-top: 32px;
        padding-bottom: 120px;
    }

    .case_box_container {
        row-gap: 32px;
    }

    .animated_text_by_letters.mb-\[80px\] {
        margin-bottom: 32px;
    }

    .services_row {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .services_row h3 {
        margin-bottom: 8px;
    }

    .hero_text_block {
        padding-left: 0;
        padding-right: 0;
    }

    .show_reel_section .cursor-pointer, .overview_section .last_video_screen {
        /*height: calc(1svh * 110);*/
        max-height: unset;
    }

    .overview_section video {
        height: 100%;
        object-fit: cover;
    }

    .design_container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .design_section_image_shape {
        max-width: 120px;
    }

    .case_box:nth-child(2) .cursor-pointer,
    .case_box:nth-child(3) .cursor-pointer,
    .case_box:nth-child(5) .cursor-pointer {
        max-height: 741px;
    }


    .mx-4 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }


    .one_model_section {
        margin-top: 32px;
        padding-top: 24px;
    }

    .one_model_section .flex.flex-col.gap-3.whitespace-pre-line {
        gap: 0;
        row-gap: 8px;
    }

    .one_model_section .col-md-5.flex.flex-col.gap-6 {
        row-gap: 0;
    }

    .one_model_section .one_model_section__subtitle {
        margin: 12px 0 24px;
    }

    .after_row_title {
        margin-top: 24px;
        padding-top: 24px;
        margin-bottom: 24px;
    }

    .one_model_section__list li:last-child {
        margin-bottom: 0;
    }

    .logos_slider {
        padding-top: 125px;
        padding-bottom: 125px;
    }
    .logos_slider .row {
        flex-wrap: wrap !important;
    }
    .logos_slider .row .col{
        flex:  0 0 auto;
        max-width: 50%;
        width: 100%;
        margin-bottom: 24px;
    }
    .logos_slider .row .col:last-child {
        display: none;
    }

    .glanse_section .flex.justify-between.mx-4 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .after_carousel__line {
        margin: 0;
        padding: 0;
        margin-top: 120px;
    }

    .insight_line {
        margin-top: 120px;
    }

    .posts_box {
        margin-bottom: 12px;
    }

    .insight_post__title {
        margin-bottom: 8px;
        margin-top: 0;
    }

    .author_name {
        margin-bottom: 32px;
        margin-top: 0;
    }

    /*.case_box_container .case_box:nth-child(1) .absolute img {*/
    /*    max-width: 105px;*/
    /*}*/
    /*.case_box_container .case_box:nth-child(2) .absolute img {*/
    /*    max-width: 108px;*/
    /*}*/
    /*.case_box_container .case_box:nth-child(3) .absolute img {*/
    /*    max-width: 192px;*/
    /*}*/
    /*.case_box_container .case_box:nth-child(4) .absolute img {*/
    /*    max-width: 85px;*/
    /*}*/
    /*.case_box_container .case_box:nth-child(5) .absolute img {*/
    /*    max-width: 73px;*/
    /*}*/
    /*.case_box_container .case_box:last-child .absolute img {*/
    /*    max-width: 71px;*/
    /*}*/
    /*.case_box_container .case_box .absolute img {*/
    /*    width: initial;*/
    /*    max-width: unset;*/
    /*}*/
    .case_box_container .case_box .absolute {
        margin-bottom: 0;
        bottom: 28px;

    }

    footer {
        padding-bottom: 12px;
    }


    /*    case pages*/
    .case_hero_section {
        padding-top: 40px;
        min-height: unset;
    }

    .case_hero_section .mb-\[48px\].mt-\[40px\].col-lg-4 {
        margin-bottom: 44px;
    }

    .case_hero__info_row {
        margin-top: 24px !important;
    }
    .case_hero__info_row .col-lg-4 {
        margin-bottom: 24px;
    }
    .case_hero__info_row .col-lg-8.flex.flex-col.sm\:flex-row.gap-8 {
        gap: 0;
    }
    .case_hero__info_row .col-lg-8.flex.flex-col.sm\:flex-row.gap-8 .flex {
        margin-bottom: 24px;
    }
    .case_hero__info_row {
        margin-bottom: 32px;
    }
    .case_case__video_section {
     min-height: 560px;
    }
    .case_case__video_section .container-fluid {
        min-height: 560px;
    }
    .case_case__video_section .container-fluid img  {
        min-height: 560px;
    }
    .case_case__video_section .container-fluid video {
        height: 560px;
        object-fit: cover;
    }
    .case_text_section .col-lg-4{
        margin-bottom: 16px !important;
    }
    .case_text_section .col-lg-8 {
        margin-bottom: 32px;
    }
    .case_text_section ul {
        margin-top: 16px;
    }
    .case_text_section ul li {
        margin-bottom: 8px;
    }
    .case_images_section .col-lg-4 {
        margin-bottom: 16px;
    }
    .overview_case_video_text_section {
        margin-top: 16px;
    }
    .mx-4.text_section.mt-\[200px\] {
        margin-top: 64px;
    }
    .overview_case_video_text_section .t-p1.mb-4 {
        margin-bottom: 0 !important;
        margin-top: 24px;
    }
    .case_case__video_section {
        margin-top: 80px;
    }
    .case_text_box_section.py-\[160px\] {
        padding-top: 24px;
        padding-bottom: 24px;
    }
    .case_section_3_8 .space-y-3 {
        margin-bottom: 24px;
    }
    .case_section_3_8 .col-lg-9 .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    .case_section_3_8 .col-lg-9 .case_case__video_section {
        margin-top: 0;
    }
    .mx-4.case_case__video_section.md\:pb-8.not-md\:mt-\[24px\] {
        margin-top: 24px;
    }

}


/* Main media  */
@media (min-width: 1919px) {
    .show_reel_section .cursor-pointer, .overview_section .last_video_screen {
        height: calc(1svh * 100);
        max-height: unset;
    }

    footer {
        padding-top: 20px;
    }
}

@media (max-width: 1919px) and (min-width: 1024px) {
    /*.main_text_section .inline-block:first-child {*/
    /*    margin-left: auto;*/
    /*    flex: 0 0 43%;*/
    /*}*/

}


@media (max-width: 1023px) and (min-width: 768px) {
    .video-cursor {
        /* max-width: 150px !important; */
    }

    .design_container .col-lg-4 {
        margin-top: 32px;
    }
}

@media (max-width: 767px) {
    .design_container .col-lg-4 {
        margin-top: 32px;
    }
}