@media (max-width: 786px) and (min-width: 768px) {
  .hero_text_block {
    position: relative;
    left: -50px;
  }
}

@media (max-width: 767px) {
  .quants_row {
    flex-wrap: wrap;
  }

  .quants_row .quant {
    margin-bottom: 24px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .design_container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .design_section_image_shape {
    max-width: 176px;
  }
  .services_row h3 {
    width: 100%;
    flex: unset;
  }
  .services_row .flex.ml-auto.justify-center {
    
  }
  .services_row p {
    width: 95%;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .design_container {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .design_section_image_shape {
    max-width: 120px;
  }

  .case_box:nth-child(2) .cursor-pointer,
  .case_box:nth-child(3) .cursor-pointer,
  .case_box:nth-child(5) .cursor-pointer {
    max-height: 741px;
  }
  .animated_text_by_letters span {
    letter-spacing: -0.5rem;
  }
}