@media (max-width: 1348px) and (min-width: 1023px) {

}
@media (max-width: 786px) and (min-width: 640px) {

}

@media (max-width: 767px) {
    .services_list_section .video_box {
        margin-right: 0;
    }
    .mobile_subtitle {
        margin-bottom: 24px;
    }
    .quants_row {
        flex-wrap: wrap;
    }

    .quants_row .quant {
        margin-bottom: 24px;
    }

    .after_row_title {
        text-align: left;
    }

    .small_shape img {
        width: 24px;
    }

    .services_list_section {
        margin: 0;
    }

    .services_list_section .services_row {
        padding-left: 15px;
        padding-right: 15px;
    }

    .cases_text_box {
        font-size: 15px;
        align-items: flex-start;
    }
}

@media (max-width: 1023px) {
    #services .col-lg-4 {
        margin-bottom: 24px;
    }
    .main_text_section .inline-block:first-child {
       text-align: left;
    }
    .block_float {
        display: none;
    }
}
@media (max-width: 1023px) and (min-width: 768px) {
    .design_section .t-p2:first-child{
        max-width: 50%;
    }
    .design_container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .design_container .col-lg-4,
    .design_container .col-lg-8 {
        width: 100%;
    }

    .design_section_image_shape {
        max-width: 176px;
    }

    .services_row h3 {
        width: 100%;
        flex: unset;
    }

    .services_row .flex.ml-auto.justify-center {
    }

    .services_row p {
        width: 95%;
        margin-top: 8px;
    }
    .mx-4 {
        margin-left: 24px !important;
        margin-right: 24px !important;
    }
}

@media (max-width: 767px) {
    .design_container {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .design_section_image_shape {
        max-width: 120px;
    }

    .case_box:nth-child(2) .cursor-pointer,
    .case_box:nth-child(3) .cursor-pointer,
    .case_box:nth-child(5) .cursor-pointer {
        max-height: 741px;
    }

    .animated_text_by_letters span {
        letter-spacing: -0.5rem;
    }
    .mx-4 {
        margin-left: 12px !important;
        margin-right: 12px !important;
    }
}


/* Main media  */
@media (min-width: 1919px) {
    .show_reel_section .cursor-pointer,.overview_section .last_video_screen{
        height: calc(1svh * 100);
        max-height: unset;
    }
}

@media (max-width: 1919px) and (min-width: 1024px) {
    /*.main_text_section .inline-block:first-child {*/
    /*    margin-left: auto;*/
    /*    flex: 0 0 43%;*/
    /*}*/

}


@media (max-width: 1023px) and (min-width: 768px) {
    .video-cursor {
        /* max-width: 150px !important; */
    }

    .design_container .col-lg-4 {
        margin-top: 32px;
    }
}

@media (max-width: 767px) {
    .design_container .col-lg-4 {
        margin-top: 32px;
    }
}