body {
    background: #000;
    color: white;
}

.main_text_section .block:first-child{
    text-align: right;
}
.main_text_section .block {
    text-align: left;
}

.bg-bg-white {
    background-color: #fff;
}

.case_box_container .case_box:nth-child(3n + 1) .cursor-pointer {
  max-height: 741px;
}
.case_box_container .case_box .cursor-pointer {
  max-height: 885px;
}
.case_box_container .case_box img{
  height: 100%;
}
.slide_item,.slide_item img,.slide_item .relative.z-10.p-8.flex.flex-1.flex-col {
    border-radius: 4px;
}
.last_video_screen {
    border-radius: 4px;
    overflow: hidden;
}
.posts_box {
    border-radius: 4px;
}
/* animated text like rejouise */
.animated_text_by_letters span {
    letter-spacing: -1rem;
    line-height: .9;
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    will-change: transform;
}

/* services section  */
.services_row {
    padding-top: 110px;
    padding-bottom: 48px;
}

.services_row h3 {
    white-space: pre-line;
}

.video_box video {
    height: 320px;
    border-radius: 4px;
    object-fit: cover;
}

.video_box {
    margin-right: 20px;
}

/* infinite_slider */
.logos_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos_carousel .infinite-carousel__track {
    padding-left: 0;
}
.bullet {
    max-width: 28px;
}
.small_shape img{
    width: 48px;
}
.shape_container {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}