html {
    font-family: 'TT Hoves', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background: #000;
    color: white;
}

@custom-variant dark (&:is(.dark *));

/* Custom breakpoint variants */
@custom-variant lg (@media (min-width: 1920px));
@custom-variant md (@media (min-width: 1024px));
@custom-variant sm (@media (min-width: 768px));
@custom-variant xs (@media (min-width: 275px));

/* Not breakpoint variants */
@custom-variant not-lg (@media (max-width: 1919px));
@custom-variant not-md (@media (max-width: 1023px));
@custom-variant not-sm (@media (max-width: 767px));
@custom-variant not-xs (@media (max-width: 274px));


.bg-bg-white {
    background-color: #fff;
}

.block_float {
    display: block;
    float: left;
    height: 2rem;
    width: 50%;
}

/*showreel section */
.show_reel_section {
    margin-top: 32px;
    margin-bottom: 80px;
}

.show_real_video_container video {
    width: 100%;
}

.services_paragraph {
    margin-bottom: 80px;
}

.design_section {
    margin-bottom: 160px;
}

#cases {
    margin: 80px 0 0;
    padding-bottom: 160px;
}

.services_list_section {
    margin-bottom: 160px;
}

.case_box_container .case_box img {
    height: 100%;
    width: 100%;
}

.slide_item, .slide_item img, .slide_item .relative.z-10.p-8.flex.flex-1.flex-col {
    border-radius: 4px;
}

.case_box_container {
    row-gap: 64px;
}

.last_video_screen {
    border-radius: 4px;
    overflow: hidden;
}

.posts_box {
    border-radius: 4px;
}

.after_row_title {
    padding-top: 40px;
    border-top: 1px solid #E5E5E5;
    margin-top: 52px;
    margin-bottom: 42px;
    color: black;
}

.showreal_video video {
    width: 100%;
}

.overview_section {
    margin-bottom: 160px;
}

.overview_section video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.case_box_container .case_box .absolute {
    left: 50%;
    transform: translate(-50%, 0%) !important;
}

.animated_text_by_letters {
    font-weight: 300;
    font-size: clamp(4.5rem, 8vw + 3rem, 15.5rem);
    line-height: 88%;
    letter-spacing: clamp(-.6rem, -0.8vw, -.6rem);
    text-align: center;

}

.animated_text_by_letters span {
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    will-change: transform;
}

/* our cases */
.cases_logo {
    max-width: fit-content;
}

.cases_logo svg {
    width: 100%;
}

.cases_text_box {
    column-gap: 20px;
}

/* services section  */
.services_row {
    padding-top: 110px;
    padding-bottom: 48px;
}

.services_row .video_box {
    margin-right: 0;
}

.services_row .video-player-provider {
    height: auto;
    max-height: 320px;
}

.video_box video {
    height: 320px;
    border-radius: 4px;
    object-fit: cover;
}

.video_box {
    margin-right: 20px;
}

/* infinite_slider */
.logos_carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos_carousel .infinite-carousel__track {
    padding-left: 0;
}

.bullet {
    min-width: 28px;
    position: relative;
    top: 4px;
}

.small_shape img {
    width: 48px;
}

.shape_container {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.post_logo .post-logo__svg {
    height: 100%;
    width: auto;
    display: block;
}


/* cases pages */
.case_hero_section {
    padding-top: 152px;
}
.case_hero_section svg {
    max-width: 220px;
}
.case_hero_section .text_section {
    margin: 0 !important;
}
.case_hero_section .text_section .container-fluid {
    padding: 0;
}
.case_hero__info_row {
    margin-bottom: 40px;
    margin-top: 80px;
}
.case_hero_section .block_float {
    display: none;
}
.case_text_section .col-lg-8 {
    margin-bottom: 120px;
}
.case_images_section img,.case_images_section video {
    border-radius: 4px;
}
.case_overview_case_image__textbox {
    margin: 160px 0;
}
.case_case__video_section video{
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.case_case__video_section img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
.case_case__video_section .video-player-provider {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overview_case_video_text_section video,.overview_case_video_text_section img {
    border-radius: 4px;
}
.case_case__video_section .row {
    margin-top: 160px;
}
.case_case__video_section .row p {
    margin-bottom: 30px;
}
.first_case_hero_section {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.first_case_hero_section .container-fluid {
    padding: 0;
}
.first_case_hero_section .container-fluid .row {
    margin: 0;
}
.case_hero_section .mt-0.container-fluid:last-child {
    margin-top: auto !important;
}
.big_quants {
    line-height: 1;
}