
.showreel-cursor {
  position: fixed !important;
  pointer-events: none !important;
  z-index: 9999 !important;
  will-change: left, top, transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
  transition: opacity 0.4s ease-in-out;
  background: transparent !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  isolation: isolate;
  mix-blend-mode: difference;
}

.video-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  will-change: left, top, transform, opacity;
  backface-visibility: hidden;
  perspective: 1000px;
  transition: opacity 0.3s, transform 0.3s;
}


.hover-image {
  width: 220px;
}


.hover-image .image__wrapper {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  animation: fadeInScale 0.3s ease-out forwards;
}

.hover-image .image__wrapper .media {
  width: 100%;
  height: 264px;
}


.hover-image .anime__wrapper {
  display: block;
  margin-top: 8px;
}

.hover-image .anime__wrapper span {
  display: block;
  text-align: center;
}


.image-hover-darken {
  transition: filter 0.3s ease-in-out;
}

.image-hover-darken:hover {
  filter: brightness(0.5);
}


@keyframes fadeInScale {
  from {
    opacity: 0;
    clip-path: inset(40%);
    border-radius: 8px;
  }
  to {
    opacity: 1;
    clip-path: inset(0%);
    border-radius: 8px;
  }
}
.case_box:nth-child(odd) .cursor-pointer{
  max-height: 741px;
}
.case_box:nth-child(even) .cursor-pointer{
  max-height: 885px;
}
.case_box img{
  height: 100%;
}