@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Bold.eot');
    src: url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Medium.eot');
    src: url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.woff2') format('woff2'),
        url('TTHoves-Medium.woff') format('woff'),
        url('TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Light.eot');
    src: url('TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Light.woff2') format('woff2'),
        url('TTHoves-Light.woff') format('woff'),
        url('TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.eot');
    src: url('TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Regular.woff2') format('woff2'),
        url('TTHoves-Regular.woff') format('woff'),
        url('TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

