@import "tailwindcss";
@import "tw-animate-css";

@import "../../public/fonts/font-face.css";
/* // Типографика по брейкпоинтам */
@import "./styles/base/_typography";

/* // Компонентные штуки */
@import "./styles/_underline";
@import "./styles/_carousel";
@import "./styles/_hover-section";
@import "./styles/_custom-cursor";
@import "./styles/_header";
@import "./styles/_video-cursor";
@import "./styles/_scrollbar";
@import "./styles/_hero";
@import "./styles/_services";
@import "./styles/_design_section";
@import "./styles/_styles";
@import "./styles/_media";