%hoves-font {
  font-family: var(--font-tt-hoves), system-ui, sans-serif !important;
}

.hoves-big,
.hoves-h1,
.hoves-h2,
.hoves-h3,
.hoves-p1,
.hoves-p2,
.hoves-s1 {
  @extend %hoves-font;
}

.hoves-big {
  font-weight: 300;

  font-size: clamp(4.5rem, 15.5vw, 14rem);
  line-height: 0.88;
  letter-spacing: -0.03em;
}

.hoves-h1 {
  font-weight: 300;

  font-size: clamp(4.5rem, 15.5vw, 14rem);
  line-height: 1;
  letter-spacing: -0.03em;
}

.hoves-h2 {
  font-weight: 300;

  font-size: clamp(4.5rem, 15.5vw, 14rem);
  line-height: 1.25;
  letter-spacing: -0.03em;
}

.hoves-h3 {
  font-weight: 300;

  font-size: clamp(4.5rem, 15.5vw, 14rem);
  line-height: 1.25;
  letter-spacing: -0.03em;
}


@media screen and (min-width: 275px) and (max-width: 1023px) {

  .hoves-p1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
  }


  .hoves-p2 {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: -0.02em;
  }


  .hoves-s1 {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: -0.02em;
  }
}


@media screen and (min-width: 1024px) and (max-width: 1919px) {

  .hoves-p1 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
  }


  .hoves-p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
  }


  .hoves-s1 {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: -0.02em;
  }
}


@media screen and (min-width: 1920px) {

  .hoves-p1 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: -0.02em;
  }


  .hoves-p2 {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    letter-spacing: -0.02em;
  }


  .hoves-s1 {
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    letter-spacing: -0.02em;
  }
}


.hoves-40px-fluid {
  @extend %hoves-font;

  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  line-height: 1.25;
}