/* BIG */
.t-big {
    font-size: clamp(2.75rem, 6vw, 4.5rem);
    line-height: 0.88;
}

/* H1 */
.t-h1 {
    font-weight: 300;
    font-size: clamp(2.25rem, 4.5vw, 5rem);
    line-height: 1;
    letter-spacing: -0.03rem;
}

/* H2 */
.t-h2 {
    font-weight: 300;
    font-size: clamp(1.75rem, 3.5vw, 2.5rem); /* ~28–40px */
    line-height: 1.25; /* 125% */
    letter-spacing: -0.03rem;
}

/* H3 */
.t-h3 {
    font-weight: 300;
    font-size: clamp(1.5rem, 3vw, 2rem); /* ~24–32px */
    line-height: 1.25; /* 125% */
    letter-spacing: -0.03rem;
}

/* ====== База = S (320–767px) ====== */

/* P1 — основной текст покрупнее */
.t-p1 {
    font-size: 1rem;         /* 16px */
    line-height: 1.375rem;
    letter-spacing: -0.03rem;
}

/* P2 — обычный параграф */
.t-p2 {
    font-size: 0.875rem;     /* 14px */
    line-height: 1.25rem;    /* 20px */
    letter-spacing: -0.03rem;
}

/* S1 — мелкий вспомогательный текст */
.t-s1 {
    font-size: 0.625rem;     /* 10px */
    line-height: 0.75rem;    /* 12px */

}


/* ====== M (768–1023px) ====== */

@media (min-width: 768px) {
    /* P1 остаётся тем же, что и на S по макету */
    .t-p1 {
        font-size: 1rem;       /* 16px */
        line-height: 1.375rem; /* 22px */
    }

    .t-p2 {
        font-size: 1rem;       /* 16px */
        line-height: 1.375rem; /* 22px */
    }

    .t-s1 {
        font-size: 0.625rem;   /* 10px */
        line-height: 0.75rem;  /* 12px */
    }
}


/* ====== L (>=1024px) ====== */

@media (min-width: 1024px) {
    .t-p1 {
        font-size: 1.125rem;    /* 20px */
        line-height: 1.75rem;  /* 28px */
    }

    .t-p2 {
        font-size: 1rem;       /* 16px */
        line-height: 1.375rem; /* 22px */
    }

    .t-s1 {
        font-size: 0.625rem;   /* 10px */
        line-height: 0.75rem;  /* 12px */
    }
}

